.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-card {
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow */
}

.custom-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.no-border {
  border: none !important;
}

.rounded-custom {
  border-radius: 50px; /* Adjust this value as needed */
}

.rounded-custom-sm {
  border-radius: 0px; /* Adjust this value as needed */
}